@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-lg-4" style="height:200px;width:200px;">
        <h1>
            <a href="~/Products/Index">المخزن</a> 
        </h1>
    </div>
    <div class="col-lg-4" style="height:200px;width:200px;">
        <h1>
            المشتريات
        </h1>
    </div>
    <div class="col-lg-4" style="height:200px;width:200px;">
        <h1>
            المبيعات
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-4" style="height:200px;width:200px;">
        <h1>
            العملاء
        </h1>
    </div>
    <div class="col-lg-4" style="height:200px;width:200px;">
        <h1>
            التقارير
        </h1>
    </div>
    <div class="col-lg-4" style="height:200px;width:200px;">

    </div>

</div>